<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQMessaging.MQMessaging" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MQMessaging.MQMessaging>
            <setting name="QueueManagerSet" serializeAs="String">
                <value>QM_TESTMQ</value>
            </setting>
            <setting name="QueueNameSet" serializeAs="String">
                <value>Q1</value>
            </setting>
            <setting name="ChannelSet" serializeAs="String">
                <value>TESTMQCONN</value>
            </setting>
            <setting name="MQHostSet" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
        </MQMessaging.MQMessaging>
    </applicationSettings>
</configuration>